.price {
    color: $product-price-color;
    font-family: $product-price-font-family;
    font-size: $product-price-font-size;
    font-weight: $product-price-font-weight;
    .price-old, .old-price {
        color: $product-old-price-color;
        text-decoration: line-through;
        font-size: 80%;
        font-family: $font-family;
        line-height: $product-price-font-size;
    }
    .new-price {
        color: $product-new-price-color;
    }
}


.#{$products-row-selector}{
    position:relative;
    .#{$products-col-selector}{
        @include rtl-border-right($product-container-border);
        padding: $product-content-padding;
        &:last-child{
            border-right:none;
        }
        &:nth-child(1){
            @include rtl-border-right($product-container-border);
        }
    }
}

.product-block {
    position:relative;
    background-color: $product-bg-color;
    border: $product-border-color;
   .action {
        @include clearfix();
        z-index: 5;
    }

    .description{
        display: none;
        margin-bottom: 15px;
        overflow: hidden;
    }
    .comments_note, .product-rating, .norating {
        
    }
    .comments_note { 
        .star_content {
            @include rtl-float-left;
            @include rtl-margin-right(5px);
            margin-top: 5px;
        }
        .nb-comments {
            font-size: 11px;
            @include rtl-padding-left(7px);
            position: relative;
            color: #bebebe;
            &:before {
                @include element-absolute(2px,inherit,0,left);
                height: 12px;
                border-left: 1px solid $base-border-color;
            }
            span {
                font-size: 12px;
            }
        }
    }
    .name{
        margin: 5px 0;
        display: block;
        position: relative;
        a {
            color: $product-name-color;
            font-size: $product-name-font-size;
            font-family: $product-name-font-family;
            font-weight: $product-name-font-weight;
            line-height: $product-name-line-height;
            text-decoration: $product-name-text-decoration;
            height: 40px;
            display: block;
            overflow: hidden;
            &:hover{
                color: $product-name-hover-color;
            }
        }
    }
    .content_price {
        min-height: 18px;
    }
    .image-gallery{
        border:solid 4px $product-gallery-border-color;
        position:absolute;
        top:0;
        left: -80px;

        display: none;
        .product-image{
            width: 75px;
            overflow: hidden;
            cursor:hand;cursor:pointer
        }
        .arrow {
            border-bottom: 5px solid rgba(0, 0, 0, 0);
            border-left: 5px solid $product-gallery-border-color;
            border-top: 5px solid rgba(0, 0, 0, 0);
            margin: -5px 0;
            position: absolute;
            right: -9px;
            top: 50%;
        }
    }

    .image {
        position: relative;
        overflow: hidden;
        text-align: center;
        @include border-radius ($product-image-radius);
        .img {
            img {
                display: inline-block;
            }
        }
    }
    .product-zoom, .pav-colorbox {
        @include size(30px,30px);
        font-size: $font-size-base - 1;
        @include transition(all 0.3s ease 0s);
        &:hover{
            background-color: $theme-color;
            color: $product-button-hover-color;
        }
    }
    .product-zoom{
        z-index: 10;
        color: $product-zoom-color;
        background-color: $product-zoom-bg;
        line-height: 30px;
        right: 50%;
        text-align: center;
    }
    .color-list-container {
      top: 50%;
      margin-top: -25px;
      position: absolute;
      @include rtl-right(5px);
      ul {
        li {
          margin:4px;
          border: 1px solid $base-border-color;
          @include border-radius(50%);
          a {
            display: block;
            @include size(10px,10px);
            @include border-radius(50%);
            margin: 1px;
          }
        }
      }
    }
    &:hover {
        .image-gallery{
            display: block;
            z-index: 9999;

        }
    }
    .availability {
        @include opacity($product-warning-display);
        display:  block;
        margin-bottom: 5px;
        span {
            padding:  1px 5px;
            display: inline-block;
            line-height: 16px;
            color: #fff;
            &.available-now {
                background: $product-warning-avariable-now-bg;
                border: 1px solid darken( $product-warning-avariable-now-bg, 10% );
                color:$product-warning-avariable-now-color;
            }
            &.out-of-stock{
                background: $product-warning-outofstock-bg;
                border: 1px solid darken( $product-warning-outofstock-bg, 10% );
                color:$product-warning-outofstock-color;
            }
        }
    }
    .product-flags{
        display: none;
        .discount {
            color: red;
            display: inline-block;
            padding: 3px 0;
        }
        .online_only {
            color: blue;
            display: inline-block;
            padding: 3px 0;
        }
    }
}
.availability{
    .out-of-stock {
        font-size: $product-stock-font-size;
        background: $product-instock-bg;
        color: $product-instock-color ;
    }
    .available-now{
        font-size: $product-stock-font-size;
        background: $product-outofstock-bg;
        color: $product-outofstock-color
    }
}

.banner-product {
    margin: 10px 0;
}

.product-label {
    color: $product-label-color;
    font-size: $product-label-font-size;
    font-family: $product-label-font-family;
    font-weight: $product-label-font-weight;
    text-align: center;
    z-index: 80;
    position: absolute;
    top: 0;
    line-height: $product-label-font-size;
    text-transform: uppercase;
    span{
        display: block;
        height: 100%;
        text-align: center; 
        color: #fff;
        padding: 7px 10px;
        @include border-radius(0 0 7px 0);
    }
    &.new-box {
        right: 0;
        span {
            background-color: $product-label-new-bg;
            color: #fff
        }
    }
    &.sale-percent-box, &.sale-box {
        left: 0;
        span {
            background-color: $product-label-sale-bg;
        }

    }
}

//gallery
.gallery-carousel{
    position:relative;
}
.ajax_block_product {
    .thumbs-wrap {
        background-color: #ffffff;
        border-color: $link-hover-color;
        border-style: solid none solid solid;
        border-width: 1px 0 1px 1px;
        height: 100%;
        min-height: 230px;
        left: 0;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        top: 0;
        padding: 0 10px;
        @include transition(all 0.4s ease 0s);
        width: 80px;
        z-index: 100;
        @include box-sizing(content-box);
        margin-top: -1px;
        .thumbs_list  {
            height: 360px;
            margin-top: 10px;
            overflow: hidden;
            width: 80px;
            li {
                border: 0;
                margin: 0;
                a {
                    border: 1px solid $base-border-color;
                    margin-bottom: 10px;
                    display: block;
                    @include transition(all 0.3s ease-in-out 0s);
                    &:hover {
                        border-color: $link-hover-color;
                    }
                }
            }
        }
        .view_scroll_left,
        .view_scroll_right {
            display: block;
            text-align: center;
            width: 100%;
            float: left;
            > i {
                display: inline-block;
                font-size: 15px;
                line-height: 20px;
            }
        }
    }
}

//poduct-list
    .products-block {

      &.list {
            .product-block {
              @include rtl-text-align-left();
              margin: 0;
              width: 100%;              
              .product-meta{
                overflow: hidden;
                .name {                   
                    &:after {
                        left: 0;
                        margin-left: 0;
                    } 
                    a {
                        font-size: 14px;
                        margin-bottom: 10px;
                    }
                }
              }
              .image{
                  margin:0;
              }
              &:hover .product-meta{
                  background:none;
              }
              .description{
                  display: block;
                  height: inherit;
              }
              .price {
                margin-bottom: 0;
                height: auto;
                width: 100%;
              }
              hr {
                display: none;
              }
            }
      }
      &.grid {
          .product-block {
            .name {
              a {
                height: 40px;
                overflow: hidden;
              }
            }
          }
          @media (min-width: $screen-sm-max) {
            &.first-in-line {
              clear:left;
            }
          }
          @media (min-width: $screen-xs-max) and (max-width: $screen-sm-max) { // min 480px max 991px
            &.first-item-of-tablet-line {
              @include rtl-clear-left;
            }
          }
    }
}


// tyle product list
.default {
    &.products-block {
        background-color: #fff;
        margin-bottom: 0;
    }
    .product-container {
        .product-box {
            position: relative;
            overflow: hidden;
        }
    }
    &.grid {
        .product-block {
            .action {
                background-color: #fff;
                position: absolute;
                @include box-shadow(0 6px 5px #999);
                @include transition(all 0.3s ease-in-out 0s);
                @include opacity(0);
                top: 80%;
                width: 100%;
                padding: 2px 1px;
                margin: -2px -1px 0;
                z-index: 97;
                @include box-sizing(content-box);
                > div {
                  padding: 5px 20px 15px;
                  display: block;
                  position: relative;
                  z-index: 150;
                  > div {
                    display: inline-block;
                    @include size(40px,40px);
                    &.pts-atchover {
                        @include size(100%,auto);
                        @include rtl-left(0);
                        @include opacity(1); 
                        .icon {display: none;}
                        span {
                            display: block;
                            text-decoration: underline;
                            text-transform: uppercase;
                            font-size: 11px;
                        }
                        a {
                            background-color: transparent;
                            border: 0;
                            font-weight: 600;
                            line-height: 18px;
                            margin-top: 10px;
                            color: $theme-color;
                            @include rtl-text-align-left;
                            &:hover {
                                color: #000;
                            }
                        }
                    }
                    &.addtocart {
                        a {
                            background-color: #000;
                            border-color: #000;
                            &:hover {
                                background-color: $theme-color;
                                border-color: $theme-color;
                            }
                        }
                    }
                  }
                  a {
                    display: block;
                    line-height: 40px;
                    font-size: 14px;
                    padding: 0;
                    text-align: center;
                    color: #fff;
                    background: #bbb;
                    span {
                      display: none;
                    }
                    &:hover {
                        background-color: $theme-color;
                        border-color: $theme-color;
                        color: #fff;
                    }
                    .icon-heart-o {font-weight: 600;}
                  }
              }
            }
            @media (min-width: $screen-sm-max) {
                &:hover {
                    @include box-shadow(0 0 5px #999);
                    z-index: 85;
                  .action {
                    top: 100%;
                    @include opacity(1);
                  }
                }
            }
        }
        @include nopadding;
        &.product_list {
            margin: 0;
        }
        > li {
            @include rtl-border-right(1px solid $base-border-color);
            &.last-in-line {
                @include rtl-border-right(0);
            }
            &.break_line {
                padding: 0;
                hr {
                    margin: 0;
                    border-color: $base-border-color;
                }
            }
        }
        .product-container {
            .left-block {
                padding: 20px 20px 5px;
            }
            .product-meta{
                padding: 0 20px 15px;
            }
            .product-price {    
                &.new-price {
                    border-color: $theme-color;
                    line-height: 18px;
                }
                &.old-price {
                    border-color: transparent;
                    line-height: 18px;
                }
            }
            .comments_note {
                .star_content {
                   padding: 0;
                }
            }
        }
    }
    &.list {
        margin: 0;
        padding: 10px 0;
        > li {
            padding: 0;
            padding: 10px 0;
            &.break_line {
                display: none;
            }
        }
        .product-block {
            background-color: $product-content-bg;
            padding: 0;
            .product-container {
                padding: 0;
                &.media {
                    padding: 0 15px;
                }
                .left-block {
                    overflow: hidden;
                    background: #fff;
                }
            }
            .name {
                a {
                    height: inherit;
                    max-height: 40px;
                }
            }  
            .right-block {
                overflow: hidden;
            }
            .product-box {
                position: inherit;
            }
            .product-flags {
                display: block;
            }
            
        }
        .action {
            >div >div  {
                display: inline-block;
                margin-bottom: 5px;
            }
            a {
                border: 1px solid $base-border-color;   
                .icon {
                    display: none;  
                }           
            }
        }
    }
}
.style1 {
    .product-block  {
        margin-bottom: 20px;
        border: 2px solid transparent;
        .ajax_add_to_cart_button {
            border-color: #000;
            border-width: 2px;
            margin-bottom: 15px;
            &:hover {
                border-color: $theme-color;
                background-color: $theme-color;
                color: #fff;
            }
        }
        .action {
            width: 100%;
            text-align: center;
            left: 0;
            top: 50%;
            position: absolute;
            z-index: 101;
            margin-top: -17px;
            > div {
                display: inline-block;
            }
            .btn {
                display: block;
                text-align: center;
                color: #999;
                background-color: #fff;
                border-color: #f2f2f2;
                font-size: 14px;
                span {
                    display: none;
                }
                &:hover {
                    background-color: $theme-color;
                    color: #fff;
                    border-color: $theme-color;
                }
            }
        }
        &:hover {
            border-color: $theme-color;
        }
    }
    &.grid {
        .product-block .name a {
            text-transform: uppercase;
        }
        .right-block {
            text-align: center;
        }
    }
    &.list {
        margin: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        > li {
            margin-top: 10px;
            margin-bottom: 10px;
            padding-left: 0;
            padding-right: 0;
        }
        .left-block{
            @include rtl-border-right(5px solid #fff);
            padding: 0;
        }
        .ajax_block_product .thumbs-wrap {
            top: -10px;
        }
        .product-block {
            padding-left: 0;
            padding-right: 0;
            .product-container {
                background-color: #f4f4f4;
            }
        }
    }
}
.style2 {
    .product-block  {
        margin-bottom: 20px;
        .product-container {
            background-color: #f4f4f4;
        }
    }
    &.grid {
        .left-block {
            position: static;
        }
        .product-container {
            .right-block {
                padding: 5px 15px;
                text-align: center;
                margin-top: -50px;
                .name {
                    margin: 15px 0 5px;
                }
            }
            .addtocart {
                z-index: 110;
                display: block;
                width: 100%;
                position: absolute;
                left: 0;
                top: 100%;
                @include transition(all .4s ease 0s);
                .ajax_add_to_cart_button {
                    background-color: $theme-color;
                    display: block;
                    color: #fff;
                    .icon {
                        display: none;
                    }
                    &:hover {
                        background-color: #3d3d3d;
                    }
                }
            }
        }
        .action {
            width: 100%;
            background-color: #3d3d3d;
            left: 0;
            bottom: 100%;
            position: absolute;
            > div {
                width: 33.33%;
                @include rtl-float-left;
                @include rtl-border-left(1px solid rgba(255,255,255,0.1));
                &:first-child {
                    @include rtl-border-left(0);
                }
            }
            .btn {
                display: block;
                text-align: center;
                color: #bbb;
                font-size: 14px;
                span {
                    display: none;
                }
                &:hover {
                    background-color: $theme-color;
                    color: #fff;
                }
            }
        }
    }
    &.list {
        margin: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        > li {
            margin-top: 10px;
            margin-bottom: 10px;
            padding-left: 0;
            padding-right: 0;
        }
        .left-block{
            @include rtl-border-right(5px solid #fff);
            padding: 0;
        }
        .action {
            margin-top: 20px;
            margin-bottom: 20px;
            display: inline-block;
            > div {
                display: inline-block;
            }
            .btn {
                border: 1px solid #000;
                span {
                    @include rtl-margin-left(5px);
                }
                &:hover {
                    background-color: $theme-color;
                    color: #fff;
                    border-color: $theme-color;
                }
            }
        }
        .addtocart {
            display: inline-block;
            .btn {
                border: 1px solid #000;
                span {
                    @include rtl-margin-left(5px);
                }
                &:hover {
                    background-color: $theme-color;
                    color: #fff;
                    border-color: $theme-color;
                }
            }
        }
        .ajax_block_product .thumbs-wrap {
            top: -10px;
        }
        .product-block {
            padding-left: 0;
            padding-right: 0;
        }
    }
}
.style3 {
    .product-block  {
        margin-bottom: 20px;
        .addtocart {
            z-index: 110;
            display: block;
            width: 65%;
            position: absolute;
            bottom: 0;
            @include transition(all .4s ease 0s);
            .ajax_add_to_cart_button {
                background-color: $theme-color;
                display: block;
                color: #fff;
                .icon {
                    display: none;
                }
                &:hover {
                    background-color: #3d3d3d;
                }
            }
        }
        .content_price {
            width: 35%;
            position: absolute;
            bottom: 0;
            @include rtl-left(0);
            padding: 8px 0;
            line-height: 20px;
            background-color: #fff;
        }
        .action {
            width: 100%;
            background-color: #3d3d3d;
            top: 0;
            position: absolute;
            z-index: 101;
            > div {
                width: 33.33%;
                @include rtl-float-left;
                @include rtl-border-left(1px solid rgba(255,255,255,0.1));
                &:first-child {
                    @include rtl-border-left(0);
                }
            }
            .btn {
                display: block;
                text-align: center;
                color: #bbb;
                font-size: 14px;
                span {
                    display: none;
                }
                &:hover {
                    background-color: $theme-color;
                    color: #fff;
                }
            }
        }
    }
    &.list {
        margin: 0;
        padding-bottom: 10px;
        > li {
            margin-top: 10px;
            margin-bottom: 10px;
            padding-left: 0;
            padding-right: 0;
        }
        .left-block{
            @include rtl-border-right(5px solid #fff);
            padding: 0;
            display: block;
            overflow: hidden;
        }
        .ajax_block_product .thumbs-wrap {
            top: -10px;
        }
        .product-block {
            padding-left: 0;
            padding-right: 0;
        }
    }
}





//product_list1 
.product_list.list1 {
    margin: 0;
    border: 1px solid $base-border-color;
    padding: 10px;
    .product-block {
        padding: 10px 0;
    }
    .media-heading {
        margin-top: 0;
        a {
            height: auto;
            font-size: 13px;
        }
    }
    .comments_note {
        display: none;
    }
} 
.product_list1 {
   .media-body {
        .content_price {
            font-size: $font-size-base;
            .old-price {
               font-size: $font-size-base - 1; 
            }
        }
        .nb-comments {
            display: none;
        }
   }
}
